@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.theme-dark {
  --primary: #12181b;
  --secondary: #2a2e35;
  --text-main: #eaeaea;
  --text-secondary: #b8b8b9;
  --accent: #fc7753;
}
